git+https://github.com/facebookresearch/segment-anything.git
jupyter_bbox_widget
roboflow
dataclasses-json
supervision
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118